.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 80px;

  fill: black;
}

.App-header {
  background-color: #ef6330;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.buttons-area {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-grid;
}

.video-container {
  margin: auto;
  width: 80vw;
  max-height: 80vh; 

  /* background-color: #ccc; */
}

.buttons-area button {
  margin-top: 2px;
}

.chat-box {
  margin: auto;
  width: 60vw;
  height: 10vh;
  overflow-y: scroll;
  border: 1px solid #aaa;
  border-radius: 5px;

  display: flex;
  flex-direction: column-reverse;
}

.message {
  color: #aaa;
}

.login-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
